html, body {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    margin:0;
}

/* Header */
header {
    display: flex;
    height: 4rem;
    margin: 0 1.5rem;
    justify-content: space-between;
}

header #logo {
    display: inline-flex;
    align-items: center;
}

header #logo img{
    height: 3rem;
    width: auto;
}

header #logo p {
    color: darkslategray;
    font-size: 1.5rem;
    display: inline;
    font-weight: 800;
}

header #logo p span {
    color: gray;
    font-weight: normal;
}

header nav{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a {
    font-size: 1.5rem;
    color:darkslategray;
    text-decoration: none;
    font-weight:500;
    transition: all 300ms linear ;
}

header .navLink {
    margin-right: 1rem;
}

header nav a:hover {
    font-weight: 600;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 816px) {
    header nav a {
        font-size: 1.3rem;
    }

    header {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 720px) and (min-width:480px) {
    header .mobile{
        display: flex;
    }
    
    header .mobile a img{
        height: 3rem;
        width: auto;
        transition: height 200ms linear;
    }

    header .mobile a img:hover {
        height: 3.2rem;
        width: auto;
    }
    
    header .desktop , .log{
        display: none;
    }
}

@media only screen and (max-width: 479px) {
    header {
        margin-top: 1rem;
        display: block;
    }

    header .desktop , header #logo{
        display: none;
    }

    header .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    header .mobile a img {
        height: 3.2rem;
        width: auto;
        transition: height 300ms linear;
    }

    header .mobile a img:hover {
        height: 3.5rem;
        width: auto;
    }
}

/* Introductory Section */
#introduction {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction .img-container {
    display: inline-flex;
}

#introduction .img-container img {
    max-width: 780px;
    height: auto;
    margin: 2rem 1.5rem;
}

#introduction .content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 8rem;
    margin-left: 1rem;
}
#introduction h2 {
    margin: 0 0;
    font-size: 3rem;
    font-weight: 900;
    color: darkslategray;
}

#introduction h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color:darkslategrey;
}

#introduction .button {
    padding: 0.5rem 0;
    font-weight: 600;
    background-color: darkslategray;
    color:seashell;
    font-size: 1.5rem;
    max-width: 70%;
    transition: opacity 300ms linear;
}

#introduction .button:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 1000px){
    #introduction .img-container img {
        width: 650px;
        height: auto;
    }   

    #introduction h2 {
        font-size: 2.85rem;
        line-height: 0.9;
    }

    #introduction .content {
        margin-left: 0rem;
    }
    #introduction h3 {
        font-size: 1.5rem;
        line-height: 1;
    }
}

@media only screen and (max-width: 800px) {
    #introduction .img-container img {
        width: 500px;
        height: auto;
    } 

    #introduction h2 {
        font-size: 2.65rem;
    }

    #introduction h3 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 700px){
    #introduction {
        display: block;
        padding-bottom: 1.5rem;
    }
    #introduction .img-container {
        display: flex;
        margin: 0;
    }

    #introduction .img-container img{
        width: 100%;
        height: auto;
        margin: 0;
    }

    #introduction .content {
        margin: 2rem 1rem;
        display: flex;
        text-align: center;
    }

    #introduction .button {
        max-width: 100%;
        margin: 0 2rem;
    }
}

/* Main Container */
#main-container {
    display: flex;
}

#main-container .mobile {
    display: none;
}

/* Testimonial */
#testimonial{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#testimonial img {
    width:100%;
    height: auto;
    margin-bottom: 2rem;
}

#testimonial h2 {
    font-size: 2.75rem;
    font-weight: 800;
    color: darkslategrey;
    margin-bottom: 2rem;
    margin-top: 0rem;
}
#testimonial p {
    font-size: 1.25rem;
    color:gray;
}

#testimonial .details {
    font-size: 1rem;
    position: relative;
    top: 1.15rem;
}
/* Notification */
#notification {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    border-left: 1px solid gainsboro;
}

#notification .container {
    display: flex;
    margin-left: 1rem; 
    border: 0.5px solid gainsboro;
}

#notification img {
    width: 28%;
    height: auto;
    margin-right: 1.5rem;
    margin-top:1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#notification .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

#notification h3 {
    font-size: 1.75rem;
    color: darkslategray;
    margin-bottom: 0;
}

#notification p {
    font-size: 1.15rem;
    color: gray;
}

#notification a {
    text-decoration: none;
    color: darkslategray;
    font-size:1.2rem;
    font-weight: 600;
    transition: all 300ms linear;
}

#notification a:hover {
    font-weight: 900;
}

@media only screen and (max-width: 910px) {
    #testimonial h2 {
        font-size: 2.2rem;
        line-height: 1;
        font-weight: 750;
    }

    #testimonial p {
        font-size: 1.2rem;
        line-height: 1;
    }

    #testimonial .details {
        top: 0.5rem;
    }
}

@media only screen and (max-width: 811px) {
    #notification h3 {
        font-size: 1.45rem;
        font-weight: 600;
    }

    #notification p {
        font-size: 1.1rem;
        width: 80%;
    }

    #notification img {
        width: 35%;
        height: auto;
    }
}

@media only screen and (max-width:723px) {
    #testimonial {
        display: none;
    }

    #notification h3 {
        font-size: 2.15rem;
        font-weight: 800;
    }

    #notification p {
        font-size: 1.15rem;
    }

}

@media only screen and (max-width: 515px) {
    #notification {
        display: flex;
    }

    #notification .desktop{
        display: none;
    }
    #notification .mobile{
        display: block;
        width: 100%;
    }

    #notification .mobile img {
        margin: 0;
    }

    #notification .container {
        flex-direction: column;
        justify-content: space-between;
        border: none;
        align-items: center;
        margin: 0rem 1rem 3rem 1rem;
    }

    #notification .content {
        width: 100%;
    }
    
    #notification .content h3 {
        margin-top: 0rem;
    }
}